body,html{
    padding:0;
    margin: 0;
    height: 100%;
    
    background: url('./birthday3.jpg') no-repeat;
    background-size: cover;
    }


   
    .box{
        width: 60%;
        background: rgba(0, 0, 0, 0.4);
        padding: 40px;
        text-align: center;
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family:'Century Gothic', sans-serif;

    }

    .box h2{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .box p{
        text-align: justify;
        width: 100%;
    }
    